<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @league.name %>
</p>

<p>
  <b>Description:</b>
  <%= @league.description %>
</p>
<%= @league.members.join '  ' %>
<%= link_to 'Join This League', :action => :create, :controller => 'league_memberships' %>


<%= link_to 'Edit', edit_league_path(@league) %> |
<%= link_to 'Back', leagues_path %>
