<div class="content">
<div class="row">
	<div class="span9 offset3">
<p id="notice"><%= notice %></p>
<p>
  <b>Name:</b>
  <%= @team.name %>
</p>

<p>
  <b>Budget:</b>
  <%= @team.budget %>


<p>
  <b>Wins:</b>
  <%= @team.wins %>
</p>

<p>
  <b>Losses:</b>
  <%= @team.losses %>
</p>
 <b>Points:</b>
<% if  @team.player_ownerships.size < 8  %>
Incomplete Team
<% else %>
<%= @team.score_sum %>
<% end %>
</p>
<table>
<tr>
<th>Name</th>
<th>Position</th>
<th>NBA Team</th>
<th>Season Fantasy Points</th>
<th>Week Fantasy Points</th>
</tr>
<% @team.cref.each do |p| %>
<tr>
<td><%= p.name %></td>
<td><%= p.position %></td>
<td><%= p.nba_team %></td>
<td><%= p.season_fantasy %></td>
<td><%= @team.score(p.name, p.id) %><td>


<% if @team.id == current_user.team.id %> <td><%= link_to "Sell for #{p.value}cr", :action => 'destroy', :controller => 'player_ownerships', :id => @team.player_ownerships.find_by_player_id(p.id), :player_id => p.id %></td><% else %><%end %>
<% end %>	

<% @team.fref.each do |p| %>
<tr>
<td><%= p.name %></td>
<td><%= p.position %></td>
<td><%= p.nba_team %></td>
<td><%= p.season_fantasy %></td>
<td><%= @team.score(p.name, p.id) %><td>
<% if @team.id == current_user.team.id %> <td><%= link_to "Sell for #{p.value}cr", :action => 'destroy', :controller => 'player_ownerships', :id => @team.player_ownerships.find_by_player_id(p.id), :player_id => p.id %></td><% else %><%end %>
</tr>
<% end %>

<% @team.gref.each do |p| %>
<tr>
<td><%= p.name %></td>
<td><%= p.position %></td>
<td><%= p.nba_team %></td>
<td><%= p.season_fantasy %></td>
<td><%= @team.score(p.name, p.id) %><td>
<% if @team.id == current_user.team.id %> <td><%= link_to "Sell for #{p.value}cr", :action => 'destroy', :controller => 'player_ownerships', :id => @team.player_ownerships.find_by_player_id(p.id), :player_id => p.id %></td><% else %><%end %>
</tr>
<% end %>
</table>
</div>
</div>