<p id="notice"><%= notice %></p>

<%= @player.season_fantasy %>

<p>
  <b>Name:</b>
  <%= @player.name %>
</p>

<p>
  <b>nba team:</b>
  <%= @player.nba_team %>
</p>

<p>
  <b>Position:</b>
  <%= @player.position %>
</p>

<p>
  <b>Price:</b>
  <%= @player.value %>
</p>

<%= link_to 'Sign This Player', :action => :create, :controller => 'player_ownerships'%>
<%= link_to 'Back', players_path %>
