<!DOCTYPE html>
<html>
<head>
  <title>BigLeague</title>
  <%= stylesheet_link_tag    "nba" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body> 
	<div class="navbar navbar-fixed-top">
	  <div class="navbar-inner">
	<div class="container">
	<div class="brand"><%= link_to image_tag("/logo.png"), root_path %>
		</div>
<ul class="nav">  
<% if user_signed_in? %>
<li><%= link_to "My Team", current_user.team %></li>
<li><%= link_to "Matchups", '/matchups' %></li>  
<li><%= link_to "Players", players_path %></li>
 <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
  <% else %>
    <li><%= link_to "Register", new_user_registration_path %></li> 
    <li><%= link_to "Sign In", new_user_session_path %></li>
  <% end %> 

</ul>  
</div>
</div>
</div>
</div>
<%= yield %>


</html>
